* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("./ksiegarnia.jpg") no-repeat center;
    background-size: contain;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.book-container {
    width: 1013px;
    top: 366.5px;
    height: 503px;
    position: absolute;
    left: 453px;
    align-items: start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 10px;
}

.book-container > * {
    height: 103px;
    background: black;
    width: 80px;
}